body {
	width: 100%;
}

#header form {
	background: #D0D7E5;
	padding: 5px;
	margin: 0px;
}

.welcome {
	font-size: 20px !important;
	color: #395c7c;
}

#selectOneMenu {
	font-size: 14px;
	margin: 0px 5px 0px 40px;
}