<?xml version="1.0" encoding="UTF-8" ?>

<!--                                         -->
<!-- ICW eHF Standard Configuration          -->
<!-- Created by the ICW eHF Project Template -->
<!--                                         -->
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<!-- ===================================================================== -->
<!--                                                                       -->
<!--  Log4j Configuration                                                  -->
<!--                                                                       -->
<!-- ===================================================================== -->

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- ============================== -->
    <!-- Append messages to the console -->
    <!-- ============================== -->
    <appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
    	<param name="Threshold" value="INFO"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern"
	             value="%d{ISO8601} %-5p [%t] %c#%M(%L) - %m%n"/>
	    </layout>
    </appender>

    <!-- ============================== -->
    <!-- Append messages to the file    -->
    <!-- ============================== -->
    <!-- COMMENTED OUT FOR CONVENIENCE REASONS, AS IT SUCKS DURING LOCAL TESTS (mwiesner)
    <appender name="FILE" class="org.apache.log4j.DailyRollingFileAppender">
		<param name="File" value="${catalina.base}/logs/ehf-general.log"/>
	    <param name="DatePattern" value="'.'yyyy-MM-dd"/>
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern"
	             value="%d{ISO8601} %-5p [%t] %c#%M(%L) - %m%n"/>
	    </layout>
    </appender>
    -->
    
    <!-- =============================================== -->
    <!-- Append messages to socket for remote browsing   -->
    <!-- =============================================== -->
  <!--  
	<appender name="SOCKET" class="org.apache.log4j.net.SocketHubAppender"> 
	        <param name="Port" value="4445"/> 
	        <param name="LocationInfo" value="true"/>
	</appender>    
  -->

    <!-- ================ -->
    <!-- Limit loggers    -->
    <!-- ================ -->
    
    <logger name="org.openehealth.coala">
        <level value="INFO"/>
    </logger>

    <logger name="org.apache.cxf">
        <level value="WARN"/>
    </logger>

    <logger name="com.icw">
        <level value="WARN"/>
    </logger>

    <logger name="com.icw.ehf">
        <level value="WARN"/>
    </logger>

	<!-- Ignoring spamming warnings of spring aop, as we can not fix them anyway -->
    <logger name="org.springframework.aop.framework">
        <level value="ERROR"/>
    </logger>

    <!-- If commons logging is configured as the eHF Audit message destination
         in ehf-system-messaging-context.xml and this log category is set to  
         INFO, then audit entries will be written to the log. -->
    <logger name="com.icw.ehf.audit.logging.AuditCommonsLogger">
        <level value="INFO"/>
    </logger>

    <!-- MessageDispatcher logs too verbosely on WARN level (stack traces on failing 
         authentications). Tune it down. -->
    <logger name="org.springframework.ws.soap.server.SoapMessageDispatcher">
        <level value="ERROR"/>
    </logger>

    <!-- set this to "TRACE" for logging the messages received and
         sent by spring-ws. -->
    <logger name="org.springframework.ws.server.MessageTracing">
        <level value="WARN"/>
    </logger>
    
    <!-- Axis 1.4 uses this category at debug, info and error priority 
         for exception logging -->
    <logger name="org.apache.axis.EXCEPTIONS">
        <level value="WARN"/> <!-- lower priority for extra logging. -->
    </logger>

    <root>
        <level value="WARN"/>
        <!--<appender-ref ref="FILE"/>-->
        <appender-ref ref="CONSOLE"/>  
        <!--      
        <appender-ref ref="SOCKET"/>                
        -->
    </root>
    
</log4j:configuration>
