body {
	background-color: #ffffff;
	font-family: Verdana, "Verdana CE", Arial, "Arial CE",
		"Lucida Grande CE", lucida, "Helvetica CE", sans-serif;
	color: #000000;
	padding: 0px;
	margin: 0px;
	height: 100% !important;
}

html {
	height: 100%;
	padding: 0px;
	margin: 0px;
}

a:link,a:visited {
	color: #395c7c;
	font-size: 14px;
	text-decoration: none;
}

a:hover {
	color: #96bf0d;
	text-decoration: none;
}

h2 {
	font-size: 18px;
	color: #395c7c;
	margin: 10px;
}

.label {
	font-size: 14px;
}

#footer {
	position: fixed;
	width: 100%;
	bottom: 0px;
	border-top-style: ridge;
	border-top-width: 5px;
	padding: 5px;
	border-top-color: #D0F5A9;
	background-color: #FFFFFF;
}

.left {
	float: left ! important;
	padding-left: 5px;
}

.right {
	float: right !important;
	padding-right: 15px;
}

.button {
	font-size: 14px;
}

.heading {
	font-size: 18px !important;
	color: #395c7c !important;
	margin: 15px 0px 30px 0px !important;
}

.searchButton {
	margin-top: 10px;
	float: right;
}

.gridCellTop {
	margin-left: 5px;
	vertical-align: top;
}

.gridCellLeft {
	margin-left: 5px;
	margin-right: auto;
}

.gridCellLeftFixedSize {
	margin-left: 5px;
	margin-right: auto;
	width: 8.7em;
	vertical-align: top;
}
.gridCellLeftFixedSize2 {
	margin-left: 5px;
	margin-right: auto;
	width: 6em;
	vertical-align: top;
}

#page {
	height: 85%;
}
#content {
	height: 100%;
}

.rf-msg-wrn, .rf-msgs-wrn {
	color: red !important;
}